.cinema-body{
  background-image: url("../images/cines.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
}
.navbar-fixed-top{
  width: 100%;
  height: 9%;
  background-color: rgba(0,76,151,0.95);
}
.logo-img{
  height:70px;
  margin:6px;
}
.container-fluid{
  margin-top: 64px;
}
.jumbotron{
  background-image: url("../images/cines2.jpg");
  min-height: 500px;
  margin-bottom: 0px;
  border-radius: 0px !important;

}
.welcome-title{
  color: white;
  margin-right: 10px;
}
.jumbotron-img{
  margin-top: 20px;
  height: 80px;
}
.jumbotron-text{
  font-size: 16px;
  color: white;
  margin-top: 20px;
}
.redes-sociales{
  margin-top: 20px;
}
.img-social{
  height: 40px;
  width: 40px;
}
.titulo-cartelera{
  min-height: 45px;
  background-color: rgba(0,76,151,0.95);
}
.titulo-text{
  font-size: 18px;
  font-weight: bolder;
  color:white;
  padding:10px;
}
.movie-title{
  color:white;
  text-transform: capitalize;
}
.img-movies{
  height: 260px;
  padding:6px;
  margin-top: 22px;
  max-width: 100%;
}
.movies-row{
   background-color:rgba(0,51,102,0.8);
   min-height: 350px;
   padding-left: 15px;
   padding-right: 15px;
 }
 .movies-column{
   margin-top: 5px;
   background-color: rgb(0,51,102);
   min-height: 330px;
   border: dashed 1px black;
 }
 .left-column{
   border-right: dashed 1px black;
 }
.services-text{
  color:white;
  margin-top: 13px;
}
 @media (max-width: 770px) {
   .right-column{
     display: none;
   }
   .logo-img{
     height: 50px;
   }
   .movies-row{
     padding-left: 0px;
     padding-right: 0px;
     min-height: 250px;
   }
   .movies-column{
     min-height: 230px;
   }
   .jumbotron{
     min-height: 400px;
   }
   .jumbotron-img{
     width:80px;
     margin-top: 20px;
   }
   .img-movies{
     height: 133px;
     padding: 6px;
     max-width: 100%;
   }
   h2{
     font-size: 22px;
   }
   .titulo-cartelera{
     font-size: 15px;
   }

 }
